/* blavad-v2.css */

/* @theme blavad-v2 */

/* Import themes */
@import 'blavad';

/* Declare variables */
:root {
  --color-black-base: 16, 16, 16;
  --color-white-base: 255, 255, 255;
  --color-blue-base: 154, 86, 255;
  --color-red-base: 255, 125, 0;
  --color-green-base: 27, 198, 95;
  --color-yellow-base: 255, 193, 7;
  --color-orange-base: 255, 125, 0;

  --color-primary-base: var(--color-blue-base);
  --color-secondary-base: var(--color-orange-base);
}


section {
  background-image: url(./assets/img/blavad-v2/bg-1.png);
}

/* Custom classes */
section.cover,
section.bg-cover {
  background-image: url(./assets/img/blavad-v2/bg-cover.png);
}

section.bg2 {
  background-image: url(./assets/img/blavad-v2/bg-2.png);
}

section.bg3 {
  background-image: url(./assets/img/blavad-v2/bg-3.png);
}